form {
  .add-comment {
    padding: 0.7rem;
    outline: none;
    width: 92%;
    margin: 0;
    border: none;
    border-top: $border solid 0.5px;
    cursor: pointer;
  }
  i {
    font-weight: 100;
  }
}
