.header {
  display: flex;
  justify-content: space-between;
  padding: 0.7rem;
  border-bottom: $border solid 0.5px;
  &-left {
    display: flex;
    i {
      font-size: 3rem;
      padding-right: 1rem;
      font-weight: 300;
    }
    h1 {
      font-size: 2.8rem;
    }
  }

  .search-bar {
    input {
      width: 70%;
      padding: 0.5rem;
    }
  }
  &-right {
    i {
      font-size: 2.5rem;
      padding: 0 1rem;
      font-weight: 100;
    }
  }
}
