.header {
  display: flex;
  justify-content: space-between;
  padding: 0.7rem;
  border-bottom: $border solid 0.5px;
  &-left {
    display: flex;
    i {
      font-size: 3rem;
      padding-right: 1rem;

      &::after {
        content: "";
        top: 15px;
        left: 60px;
        width: 1px;
        position: absolute;
        height: 38px;
        background: black;
      }
    }
    h1 {
      font-size: 2.8rem;
    }
  }

  .search-bar {
    i {
      position: absolute;
      top: 23px;
      left: 700px;
      cursor: pointer;
      color: $border;
    }
    input {
      // width: 70%;
      padding: 0.5rem;
      text-align: center;
      outline: none;
      border: 0.5px solid $border;
      cursor: pointer;
    }
  }
  &-right {
    i {
      font-size: 2.5rem;
      padding: 0 1rem;
      font-weight: 100;
    }
  }
}
