.post-container {
  //   width: 80%;
  margin: 2rem 0;
  display: flex;
  justify-content: center;
}

.post {
  border: $border solid 0.5px;
  padding-top: 1rem;
  width: 50%;
  &-thumbnail {
    padding-left: 0.5rem;
    padding-bottom: 1rem;
    display: flex;
    // justify-content: center;
    align-content: center;
    img {
      border-radius: 50%;
      width: 30px;
    }
    p {
      font-size: 1rem;
      display: inline-block;
      padding-left: 0.5rem;
      padding-top: 0.4rem;
      font-weight: 600;
    }
  }

  &-picture {
    img {
      width: 100%;
    }
  }

  &-icons {
    i {
      font-size: 1.3rem;
      padding: 0.2rem 0.4rem;
    }
  }

  &-likes {
    font-size: 1rem;
    padding: 0.3rem;
  }

  &-comments {
    font-size: 1rem;
    padding: 0.3rem;
    p {
      padding-bottom: 0.5rem;
      span {
        font-weight: 600;
      }
    }

    .time {
      padding-top: 0.5rem;
      color: $comment;
      font-weight: 300;
    }
  }
}

.colorRed {
  color: red;
}
