/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

.loader {
  width: 10%;
  margin: 20rem auto;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0.7rem;
  border-bottom: #e6e6e6 solid 0.5px;
}
.header-left {
  display: flex;
}
.header-left i {
  font-size: 3rem;
  padding-right: 1rem;
}
.header-left i::after {
  content: "";
  top: 15px;
  left: 60px;
  width: 1px;
  position: absolute;
  height: 38px;
  background: black;
}
.header-left h1 {
  font-size: 2.8rem;
}
.header .search-bar i {
  position: absolute;
  top: 23px;
  left: 700px;
  cursor: pointer;
  color: #e6e6e6;
}
.header .search-bar input {
  padding: 0.5rem;
  text-align: center;
  outline: none;
  border: 0.5px solid #e6e6e6;
  cursor: pointer;
}
.header-right i {
  font-size: 2.5rem;
  padding: 0 1rem;
  font-weight: 100;
}

.post-container {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
}

.post {
  border: #e6e6e6 solid 0.5px;
  padding-top: 1rem;
  width: 50%;
}
.post-thumbnail {
  padding-left: 0.5rem;
  padding-bottom: 1rem;
  display: flex;
  align-content: center;
}
.post-thumbnail img {
  border-radius: 50%;
  width: 30px;
}
.post-thumbnail p {
  font-size: 1rem;
  display: inline-block;
  padding-left: 0.5rem;
  padding-top: 0.4rem;
  font-weight: 600;
}
.post-picture img {
  width: 100%;
}
.post-icons i {
  font-size: 1.3rem;
  padding: 0.2rem 0.4rem;
}
.post-likes {
  font-size: 1rem;
  padding: 0.3rem;
}
.post-comments {
  font-size: 1rem;
  padding: 0.3rem;
}
.post-comments p {
  padding-bottom: 0.5rem;
}
.post-comments p span {
  font-weight: 600;
}
.post-comments .time {
  padding-top: 0.5rem;
  color: #a09999;
  font-weight: 300;
}

.colorRed {
  color: red;
}

form .add-comment {
  padding: 0.7rem;
  outline: none;
  width: 92%;
  margin: 0;
  border: none;
  border-top: #e6e6e6 solid 0.5px;
  cursor: pointer;
}
form i {
  font-weight: 100;
}

/*# sourceMappingURL=index.css.map */
